<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>congviec</title>
    <link href="{{ url_for('static', path='/style/21002174_buoi5.css') }}" rel="stylesheet">
</head>
<body>
    <h2>Bảng công việc</h2>
    <table>
        <tr>
            <th>MaCV</th>
            <th>STT</th>
            <th>Ten Cong Viec</th>
        </tr>
        {% for row in data%}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>