<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nhanvien</title>
    <link href="{{ url_for('static', path='/style/21002174_buoi5.css') }}" rel="stylesheet">
</head>
<body>
    <h2>Danh sách nhân viên</h2>
    <table>
        <tr>
            <th>Họ</th>
            <th>Tên lót</th>
            <th>Tên nhân viên</th>
            <th>Mã nhân viên</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
            <th>Phái</th>
            <th>Lương</th>
            <th>Mã NQL</th>
            <th>PHG</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
            <td>{{row[9]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>